<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <a href="#" class="brand">联系方式：</a>
                <ul class="contact-info list-unstyled">
                    <li>
                        <a href="http://qm.qq.com/cgi-bin/qm/qr?_wv=1027&k=ddOQLJrhzfp1ERBHFddCOWjjQHFJfjn4&authKey=o4u9eWaTqHB4Hr%2BMHPvyzSEkYE%2B0TNvXsioVVn64I5djALzlq2Y4HqarH2hFcbBF&noverify=0&group_code=697780476">QQ群</a>
                    </li>
                </ul>
                <ul class="social-icons list-inline">
                    <li class="list-inline-item">
                        <a href="https://space.bilibili.com/518222861" target="_blank" title="服主个人B站首页">
                            <i class="fa-brands fa-bilibili"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 ">
                <h5>一些链接</h5>
                <ul class="links list-unstyled">
                    <li>
                        <a href="#">CloudDream云梦谷MC官网</a>
                    </li>
                    <li>
                        <a href="https://space.bilibili.com/518222861">服主b站首页</a>
                    </li>
                    <li>
                        <a href="https://studio.dfggmc.top/">dfgg 工作室官网</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p>&copy; ClouDream云梦谷 2022 - 2024</p>
                </div>
                <div class="col-md-4 text-center">
                    <p><a href="https://opensource.org/license/MIT">本开源软件使用MIT许可证授权</a>
                </div>
                <div class="col-md-4 text-right">
                    <p>
                        <a target="_blank" href="https://studio.dfggmc.top/" title="dfgg工作室" class="external">
                            页面由 dfgg工作室 荣誉出品
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>